<!-- header -->
<%- include('include/_header') %>

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-item" class="border-shadow">
                    <span class="text-gradient">Add Item</span>
                </a>
                <a href="/export" class="border-shadow">
                    <span class="text-gradient">Export to CSV</span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>
                    </tbody>
                </table>
            </form>
        </div>
    </main>

<!--  footer -->
<%- include('include/_footer') %>