 <!-- form handling -->
 <form action="/api/items" method="POST" id="add_item">
    <div class="new_item">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="">
        </div>
        <div class="form-group">
            <label for="price" class="text-light">Price</label>
            <input type="text" name="price" value="">
        </div>

        <div class="form-group">
            <label for="description" class="text-light">Description</label>
            <input type="text" name="description" value="">
        </div>

        <div class="form-group">
            <label for="quantity" class="text-light">Quantity</label>
            <input type="text" name="quantity" value="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>